
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css');

#apple{
	position: relative;
	top:	 0px;
	left:	 0px;
}

#orange{
	position: relative;
	top:	 0px;
	left:	 50px;
}
#banana{
	position: relative;
	top:	 0px;
	left:	 100px;
}
#grape{
	position: relative;
	top:	 0px;
	left:	 150px;
}
#lemon{
	position: relative;
	top:	 0px;
	left:	 200px;
}
#mango{
	position: relative;
	top:	 0px;
	left:	 0px;
}

#lime{
	position: relative;
	top:	 0px;
	left:	 50px;
}
#pear{
	position: relative;
	top:	 0px;
	left:	 110px;
}
#pomegranate{
	position: relative;
	top:	 0px;
	left:	 180px;
}
#pineapple{
	position: relative;
	top:	 0px;
	left:	 210px;
}
#avocado{
	position: relative;
	top:	 0px;
	left:	 0px;
}
#lychee{
	position: relative;
	top:	 0px;
	left:	 40px;
}
#watermelon{
	position: relative;
	top:	 0px;
	left:	 80px;
}
#durian{
	position: relative;
	top:	 0px;
	left:	 120px;
}
#jackfruit{
	position: relative;
	top:	 0px;
	left:	 190px;
}
#coconut{
	position: relative;
	top:	 0px;
	left:	 0px;
}
#papaya{
	position: relative;
	top:	 0px;
	left:	 40px;
}