
body{
	background: moccasin;
}
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

header{
	width:100%;
	height: 60px;
	background-color: orange;
}

/*basic navigation */
nav ul{
	float:right;
	margin-top: 30px;
	margin-right:60px;
}


nav ul li{
	list-style: none;
	float:left;
	margin-right: 20px;
}
nav ul li a{
	color: white;
	font-family: Arial;
	font-size: 20px;
}

nav ul form {
	float:left;
	margin-right: 6px;
}

nav ul form input {
	float:left;
	margin-right: 6px;
}
nav ul form button{
	cursor:pointer;
}


/*nav ul li form input{
	list-style: none;
	float:left;
	margin-right: 6px;
}*/



